img {
    max-width: 100%;
    height: auto;
  }

figure {
  margin: 0;
}

.Autres_projets__img{
  text-align: center;
  width: 28em;
  position: relative;
  top: 30px;
  margin-bottom: 60px;
}

.header__icon{
  position: relative;
  top: -9px;
  right: -162px;
}

.homepage__item--logo{
  position: relative;
  top: 75px;
  width: 11em;
}

.homepage__item--arrow{
  text-align: center;
  width: 25em;
  position: relative;
  top: 380px;
}

/* Bug IOS
=> L'overflow doit être appliqué sur l'élément body ET html
pour faire disparaître le scroll sur safari IOS */
.noscroll,
.noscroll body {
overflow: hidden;
}