.header {
    background-color: var(--dark-gray);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: var(--space1x);
    display: flex;
    justify-content: space-between;
  }
  
  .header__2 {
    background-image: url("/public/img/Photo_accueil.webp");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: var(--space1x);
    display: flex;
    justify-content: space-between;
    height: 611px;
  }
  
  .header__start {
    position: relative;
    top: -80px;
  }
  
  .header__end {
    display: flex;
    gap: var(--space2x);
    position: relative;
    top: -275px;
  }
  
  .header__logo {
    display: block;
  }